body,
html {
  color: white;
  background-color: black;
}

.img-size {
  width: 50%;
}

#background-image {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPIov5XvlbSDtzo7XzvJ8ZoGDVXJPNsdwQoA&usqp=CAU);
  height: 45vh;
  max-width: 100%;
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
  background-color: 6666;
}
